body
{background-image:url("https://wallpapercave.com/wp/wp7669343.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron 
{opacity:90%
}
.row
{display:flex;
}
.column
{flex:50%;
padding:5px;}
